.containerGeral {
  max-width: 960px;
  margin: 0 auto;
}

.containerInputs {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
}

.barContainer {
  display: flex;
}

.barContainer div {
  margin-top: 20px;
  height: 10px;
}
